<!DOCTYPE html>
<html>
<head>
<title>Smart Campus Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Smart Campus Edge Dashboard</h1>
<div id="nodes"></div>

<script>
async function fetchNodes() {
    const res = await fetch("/nodes");
    const data = await res.json();

    let html = "";
    data.forEach(node => {
        html += `<h2>${node.address}</h2>`;
        html += `CPU: ${node.cpu_percent}%<br>`;
        html += `Memory: ${node.memory_percent}%<br>`;

        if(node.sensors){
            Object.entries(node.sensors).forEach(([sensor,status])=>{
                let color = status === "active" ? "green" : "red";
                html += `<span style="color:${color}">${sensor}</span><br>`;
            });
        }

        html += "<hr>";
    });

    document.getElementById("nodes").innerHTML = html;
}

setInterval(fetchNodes, 2000);
fetchNodes();
</script>

</body>
</html>